body, #root {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: transparent;
  border: none;
  gap: 10px;
  font-family: "Lilex", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  cursor:url("assets/images/swordcursor.png"), auto;

}

#root > div, img {
  background-color: white;
  border: dashed gray 2px;
  padding: 5px;
  width: 100%;
}

:root {
  background-image: url("./assets/images/backgrounds/pdj50233.gif");
}

#head-logo {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid;
}

#status-box {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#status-box div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: auto;
  justify-content: space-between;
}

#post-box {
  
}

.xp-button {
    background: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 5px 12px;
    text-shadow: 0 0 #222;
    font-family: "Pixelated MS Sans Serif", Arial;
    text-decoration: none;
}

.xp-button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
}

.xp-button:active {
    box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
    text-shadow: 1px 1px #222;
}